html {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing {
  width: 100vw;
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #48b1bf,
    #06beb6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #48b1bf, #06beb6);
  height: calc(100vh - 52px);
  display: flex;
  color: white;
}

.right {
  width: 50%;
  text-align: center;
  padding-top: 10%;
}

.left {
  padding-top: 15%;
  width: 50%;
  text-align: center;
}

.left h1 {
  font-size: 36px;
}

.left h2 {
  font-size: 24px;
  font-weight: 200;
  margin-top: 5px;
  margin-bottom: 10px;
}

.right img {
  width: 300px;
}

.dashboard {
  background-color: #f2f3f5;
  height: calc(100vh - 52px);
  padding: 40px;
}

.dashboard h1 {
  font-size: 30px;
}

.dashboard h2 {
  font-size: 22px;
}

.condensed-info {
  display: flex;
  width: 75%;
  height: 50px;
  margin: 15px auto 0 12.5%;
  vertical-align: center;
  background-color: white;
  box-shadow: 0 2px 10px 0 #e7e7e7;
  border-radius: 5px;
}

.condensed-info .date-holder {
  height: 100%;
  width: 20%;
  background: #06beb6;
  color: white;
  text-align: center;
  font-size: 16px;
  vertical-align: center;
}

.condensed-info .expense-holder {
  height: 100%;
  width: 40%;
  text-align: center;
  font-weight: bold;
  border-left: 1px solid #e2e5e6;
}

.condensed-info .expense-holder .expense-amount {
  font-size: 20px;
  color: #eb4356;
}

.condensed-info .expense-holder .income-amount {
  font-size: 20px;
  color: #3bd584;
}

.condensed-info .expense-holder .expense-category {
  font-size: 12px;
  font-weight: 800;
  color: #cccfd0;
}

.user-info {
  display: flex;
}

.dashboard-left {
  width: 50%;
}

.dashboard-right {
  text-align: right;
  width: 50%;
}

.text {
  font-weight: bold;
}

.green-text {
  color: #3bd584;
}

.red-text {
  color: #eb4356;
}

.transaction {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  vertical-align: center;
  background-color: white;
  box-shadow: 0 2px 10px 0 #e7e7e7;
  border-radius: 5px;
  padding: 12px;
}

.red-border {
  border-right: 4px solid #eb4356;
}

.green-border {
  border-right: 4px solid #3bd584;
}

.transaction .transaction-title {
  color: #36393e;
  text-transform: uppercase;
  font-weight: 600;
}

.transaction .transaction-amount {
  font-weight: 800;
  margin-right: 25px;
  margin-left: auto;
}
