html {
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing {
  width: 100vw;
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #48b1bf,
    #06beb6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #48b1bf, #06beb6);
  height: calc(100vh - 52px);
  display: flex;
  color: white;
}

.right {
  width: 50%;
  text-align: center;
  padding-top: 10%;
}

.left {
  padding-top: 15%;
  width: 50%;
  text-align: center;
}

.left h1 {
  font-size: 36px;
}

.left h2 {
  font-size: 24px;
  font-weight: 200;
  margin-top: 5px;
  margin-bottom: 10px;
}

.right img {
  width: 300px;
}

.dashboard {
  background-color: #f2f3f5;
  height: calc(100vh - 52px);
  padding: 20px;
}

.dashboard h1 {
  font-size: 30px;
}

.dashboard h2 {
  font-size: 22px;
}

.condensed-info {
  display: flex;
  width: 500px;
  height: 50px;
  vertical-align: center;
  background-color: white;
  border: 1px solid #cecece;
}
